 *
        {
            padding: 0;
            margin: 0 auto;
        }
        ul, li
        {
            list-style-type: none;
        }
        .content
        {
            width: 100%;
            height: 100%;
            position:absolute;
            overflow: hidden;
        }
        .content_wrap
        {
         position:relative;
        }
        .content_wrap > li
        {
         width:100%;
         height:100%;
         position:relative;
         float: left;
        }
        .pageA
        { 
          position:absolute;
          width:100%;
          height:100%;
          background:url(../images/QixiA.png);
          background-size:100% 100%;
          }
        .pageB
        {
          position:absolute;
          width:100%;
          height:100%;
          background:url(../images/QixiB.png);
          background-size:100% 100%;
        }
           .pageC
         {
          position:absolute;
          width:100%;
          height:100%;
          background-image:url(../images/QixiC.png);
          background-size:100% 100%;
          overflow:hidden;
         }
         .person
        {
            width: 4%;
            height: 18%;
            position: absolute;
            background-image:url(../images/person/boy-walk.png);
            background-repeat:no-repeat;
            top:60%;
            left:0;
            background-position: 35% 1%;
            background-size: 500% 100%;
            -webkit-animation:person_slow 950ms steps(1,start) infinite;
             animation:person_slow 950ms steps(1,start) infinite;
        }
          .person_count
          {
              position:absolute;
              top:60%;
              left:0;
              background-image:url(../images/person/boy-rotate.png);
              background-repeat:no-repeat;
              background-position:35% -0.6%;
              background-size: 430% 100%;
              -webkit-animation-iteration-count:1;
              animation-iteration-count:1;
         }
        .person2,.girl
        {
            width: 4%;
            height: 18%;
            position: absolute;
            background-image:url(../images/person/girl.png);
            background-repeat:no-repeat;
            top:50%;
            left:50%;
            background-size: 870% 100%;
            background-position:65% 3px;
        } 
        .girl
       {
         -webkit-animation-name:person2_slow; 
         -webkit-animation-duration:950ms; 
         -webkit-animation-timing-function:steps(1,start);
         -webkit-animation-iteration-count:1;   
         animation-name:person2_slow; 
         animation-duration:950ms; 
         animation-timing-function:steps(1,start);
          animation-iteration-count:1;   
        }      
          @-webkit-keyframes person_slow
         {
             0%{ background-position:35% 1%;}
             25%{background-position:97% 1%;}
             50%{background-position:3% 1%;}
             100%{background-position:67% 1%;}
         }
            @keyframes person_slow
         {
             0%{ background-position:35% 1%;}
             25%{background-position:97% 1%;}
             50%{background-position:3% 1%;}
             100%{background-position:67% 1%;}
         }
            @-webkit-keyframes person1_slow
           {
          0%{ background-position:30% -0.6%;}
          20%{background-position:75% 39.5%;}
          40%{background-position:75% 19.5%;}
          60%{background-position:75% 59.5%;}
          80%{background-position:75% 79.5%}
          100%{background-position:75% 99.7%}
           }
            @keyframes person1_slow
           {
          0%{ background-position:30% -0.6%;}
          20%{background-position:75% 39.5%;}
          40%{background-position:75% 19.5%;}
          60%{background-position:75% 59.5%;}
          80%{background-position:75% 79.5%}
          100%{background-position:75% 99.7%}
           }
          @-webkit-keyframes person2_slow
           {
             0%{ background-position:19% 3px;}
             20%{background-position:98% 3px;}
             40%{background-position:2% 3px;}
             60%{background-position:33% 3px;}
             80%{background-position:48% 3px;}
             100%{background-position:65% 3px;}
           } 
            @keyframes person2_slow
           {
             0%{ background-position:19% 3px;}
             20%{background-position:98% 3px;}
             40%{background-position:2% 3px;}
             60%{background-position:33% 3px;}
             80%{background-position:48% 3px;}
             100%{background-position:65% 3px;}
           } 
          .person_state
          {
              -webkit-animation-play-state:paused;
              animation-play-state:paused;
           }
         .sun
         { position:absolute;
           top:0px;
           left:45%;
            width:10%;
            height:20%;
            background-image:url(../images/sun.png);
            background-position:50% 50%;
         }
         .cloud1
         { position:absolute;
           top:15%;
           left:0px;
            width:12%;
            height:11%;
            background-image:url(../images/cloud1.png);
            background-position:50% 50%;
         }
         .cloud2
         { 
            position:absolute;
            top:0;
            right:0;
            width:21%;
            height:19%;
            background-image:url(../images/cloud2.png);
            background-position:50% 50%;
         }
       .shop
        {
            width: 12.6%;
            height: 23.55%;
            position: absolute;
            top: 48.2%;
            left: 52.2%;
            overflow:hidden;
        }
        .door_l
        {
            position:relative;
            width: 50%;
            height: 100%;
            float: left;
            background-image:url(../images/door-left.png);
            background-size:100% 100%;
        }
        .door_r
        {   position:relative;
            width: 50%;
            height: 100%;
            float:right;
            background-image:url(../images/door-right.png);
            background-size:100% 100%;
            }
            .ring
           {
               position:absolute;
               top:42.6%;
               left:69.2%;
               width:3.8%;
               height:6.9%;
               display:none;
            } 
            .bird
            {
                position:absolute;
                top:1%;
                right:-180px;
                width:6%;
                height:10.5%;
                background-image:url(../images/person/bird.png);
                background-repeat:no-repeat;
                background-size:350% 100%;
                background-position:97% 0px;  
                -webkit-animation:bird_fly 950ms steps(1,start) infinite;  
                animation:bird_fly 950ms steps(1,start) infinite;      
           }
           @-webkit-keyframes bird_fly
          {
              0%{background-position:3% 0px;}
              50%{background-position:49% 0px;}
              100%{background-position:97% 0px;}
          }
            @keyframes bird_fly
          {
              0%{background-position:3% 0px;}
              50%{background-position:49% 0px;}
              100%{background-position:97% 0px;}
          }
    .stars1
{
    width:25%;
    height:35%;
    float:left;
    position:absolute; 
    top:5%;
    left:5%; 
    }
.stars2
{
    width:25%;
    height:25%;
    float:right;
    position:absolute; 
    top:5%;
    right:5%;
    float:right;
 }   
.stars
{
    width:50%;
    height:50%;
    position:absolute;
    top:1%;
    left:1%;
 }
.pageC ul,li
{
  list-style:none;
  margin:0;
  padding:0;
  width:6%;
  height:6%;
  position:absolute;
 }
 .pageC li
{
  width:100%;
  height:100%;
  background:url(../images/stars.png) no-repeat;
  -webkit-animation-duration:5000ms; 
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite; 
  animation-duration:5000ms; 
  animation-timing-function:linear;
  animation-iteration-count:infinite; 
}
.pageC li:nth-child(1)
{
   position:absolute;
   top:50px;
   left:100px;

 }
 .pageC li:nth-child(2)
 {
   position:absolute;
   top:100px;
   left:400px;        
   }
 .pageC li:nth-child(3)
 {
   position:absolute;
   top:100px;
   left:250px;        
   }
 .pageC li:nth-child(4)
 {
   position:absolute;
   top:50px;
   left:850px;        
   }
 .pageC li:nth-child(5)
 {
   position:absolute;
   top:230px;
   left:920px;        
 }
  .pageC li:nth-child(6)
 {
   position:absolute;
   top:160px;
   left:1100px;        
   }
 @-webkit-keyframes str
 {
     0% 
     {
     opacity:0;
     transform:scale(1,1);
     }
     50%
     {
      opacity:1; 
      transform:scale(1.2,1.2)}
     100%
     {
       opacity:0;
       transform:scale(1,1)}
 }
 .water1
 { 
     width:9%;
     height:2%; 
     background:url(../images/water1.png) no-repeat 2px 2px;
     background-size:90% 70%;
     position:absolute;
     top:79%;
     left:40%;
     -webkit-animation:w1 6000ms linear  infinite;
     animation:w1 6000ms linear  infinite;
     }
 .water2 
 {
     width:13%;
     height:2%; 
     background:url(../images/water2.png) no-repeat 2px 2px;
     background-size:98% 75%;
     position:absolute;
     top:81%;
     left:48%;
      -webkit-animation:w2 6000ms linear 1000ms infinite;
      animation:w2 6000ms linear 1000ms infinite;
     }
 .water3
 {
      width:12%;
     height:2%; 
     background:url(../images/water3.png) no-repeat 2px 2px;
     background-size:90% 70%;
     position:absolute;
     top:91%;
     left:40%;
      -webkit-animation:w3 6000ms linear infinite;
      animation:w3 6000ms linear infinite;
     }
 .water4
 {
     width:15%;
     height:2%;
     background:url(../images/water4.png) no-repeat 2px 2px;
     background-size:90% 75%;
     position:absolute;
     top:94%;
     left:50%;
     -webkit-animation:w4 6000ms linear 2000ms infinite;
      animation:w4 6000ms linear 2000ms infinite;
 }
 
     @-webkit-keyframes w1
     {
         0%{left:42%} 
         10%{left:42%}       
         50%{left:45%}
         60%{left:45%}
         100%{left:42%}
      }
      @keyframes w1
     {
         0%{left:42%} 
         10%{left:42%}       
         50%{left:45%}
         60%{left:45%}
         100%{left:42%}
      }
     @-webkit-keyframes w2
     {
         0%{left:48%}
         10%{left:48%}      
         50%{left:46%}
          60%{left:46%}
         100%{left:48%}
      }
       @keyframes w2
     {
         0%{left:48%}
         10%{left:48%}      
         50%{left:46%}
          60%{left:46%}
         100%{left:48%}
      }
        @-webkit-keyframes w3
     {
         0%{left:40%}  
         10%{left:40%}      
         50%{left:43%}
         60%{left:43%}
         100%{left:40%}
      }
      @keyframes w3
     {
         0%{left:40%}  
         10%{left:40%}      
         50%{left:43%}
         60%{left:43%}
         100%{left:40%}
      }
     @-webkit-keyframes w4
     {
         0%{left:50%}  
         10%{left:50%}  
         50%{left:47%}
         60%{left:47%}
         100%{left:50%}
      }
       @keyframes w4
     {
         0%{left:50%}  
         10%{left:50%}  
         50%{left:47%}
         60%{left:47%}
         100%{left:50%}
      }
.flower
{
    position:absolute;
    width: 100%;
    height: 100%;
}
.fly,.fly2
{
    position: absolute;
    width: 100%;
    height:100%;
    top:-110%;
}

@-webkit-keyframes flow_1
{
    0%{transform:translate(0,0)}
    100%{transform:translate(0,1400px)}
    }
 @keyframes flow_1
{
    0%{transform:translate(0,0)}
    100%{transform:translate(0,1400px)}
    }
@-webkit-keyframes flow_2
{
    0%{transform:translate(0,0)}
    100%{transform:translate(0,1400px)}
    }
@keyframes flow_2
{
    0%{transform:translate(0,0)}
    100%{transform:translate(0,1400px)}
    }
.flower1,.flower2,.flower3,.flower4,.flower5,.flower6
{
     width:45px;
     height:45px;
     display:inline-block;
     position:absolute;
     -webkit-animation:flower 10s linear infinite;
     z-index:10000;
    }
@-webkit-keyframes flower
{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
    }
@keyframes flower
{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
    }
.flower1
{
    background: url(../images/snowflake1.png) no-repeat;
}
.flower2
{
    background: url(../images/snowflake2.png) no-repeat;
}
.flower3
{
    background: url(../images/snowflake3.png) no-repeat;
}
.flower4
{
    background: url(../images/snowflake4.png) no-repeat;
}
.flower5
{
    background: url(../images/snowflake5.png) no-repeat;
}
.flower6
{
    background: url(../images/snowflake6.png) no-repeat;
}
